

$main_color_blk: rgb(8, 8, 8);
$main_color_grn: #30E879;
$main_color_wht: rgb(223, 223, 223);
$main_font: 'Montserrat', sans-serif;
$main_font_dash: 'Cabin', sans-serif;
$main_width: 65%;

*{
    box-sizing: border-box;
    margin: 0;
}